.NavBar{
  background: #485C7D;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #31415B;
  
}

li {
  /* float: left; */
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vw 4vw;
  text-decoration: none;
}


li a:hover {
  /* background-color: #111; */
  color: #CF9941;
  
}

h1, h3, h5, p, a {
  font-family: 'Roboto';
  color: #FFFFFF;
  
}

h5{
  margin-left: 1vw;
  text-align: start;
}

hr.solid {
  border-top: 0.3vw solid #CF9941;
  overflow: hidden; 
  padding: 0;
  margin: 0;
}

header{
  padding: 0;
  margin: 0;
  text-align: left;
  
}